.adminMenu {
    margin-left: 40px;
    margin-right: 40px;
    background-color: var(--quinary-color);
    height: 4rem;
}
.adminMenu ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
}

.adminMenu ul li a {
    cursor: pointer;
    transition: 0.4s ease-in-out;
    position: relative;
}

.adminMenu ul li a:hover {
    color: var(--tertiary-color);
}

.adminMenu ul li a::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 0;
    background-color: var(--tertiary-color);
    transition: 0.4s ease-in-out;
}

.adminMenu ul li a:hover::after {
    max-width: 100%;
}

.adminMenu ul li a.active::after {
    max-width: 100%;
}