.headerContainer {
    width: 100%;
    height: 3rem;
    background-color: var(--primary-color);
    padding-right: 40px;
    padding-left: 40px;
    box-sizing: border-box;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerContainer ul {
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

.headerContainer ul li a {
    cursor: pointer;
    transition: 0.4s ease-in-out;
    position: relative;
}

.headerContainer ul li a:hover {
    color: var(--tertiary-color);
}

.headerContainer ul li a::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 0;
    background-color: var(--tertiary-color);
    transition: 0.4s ease-in-out;
}

.headerContainer ul li a:hover::after {
    max-width: 100%;
}
.active {
    color: var(--tertiary-color);
}

.headerContainer ul li a.active::after {
    max-width: 100%;
}

.headerContainer h3 {
    margin: 0;
}