.homeContainer {
    margin-left: 80px;
    margin-right: 80px;
}

.react-calendar__navigation {
    height: 2rem;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.react-calendar__navigation button {
    width: 2rem;
    height: 100%;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border: none;
    cursor: pointer;
    border-radius: 10px 5px;
}

.highlight {
    background-color: var(--quinary-color);
}

.highlight-selected {
    background-color: var(--primary-color);
}

.react-calendar__month-view__days__day,
.react-calendar__year-view__months__month {
    height: 40px;
}

.react-calendar__month-view__weekdays__weekday abbr {
    border: none;
    text-decoration: none;
}

.calendar-year-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.calendar-month {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}