.highlight {
    background-color: var(--quinary-color);
}
.highlight-selected {
    background-color: var(--primary-color);
}

.react-calendar__month-view__days__day,
.react-calendar__year-view__months__month {
    height: 40px;
}