:root {
  --primary-color: #0081A7;
  --secondary-color: #00AFB9;
  --tertiary-color: #FDFCDC;
  --quaternary-color: #FED9B7;
  --quinary-color: #F07167;
}

a {
  all: unset;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}